$white: #fff;
$default: #6f6f6f;

$primary: #0190fe;
$active-primary: #1f9dfe;
$border-primary: #0190fe;

$danger: #fb434a;
$active-danger: #f5646a;
$border-danger: #e53935;

$success: #3ac47d;
$active-success: #2e9d64;
$border-success: #3ac47d;

$info: #16aaff;
$active-info: #0090e2;
$border-info: #0087d5;

$warning: #f39834;
